<div class="container">
 <div class="row"> 
  <div class="col-lg-12">
   <div>
   <p>
    <a href="/logout" class="pull-right">Logout</a>
    </p>
   </div>
   <div class="">
    <h2 style="text-align:center">Admin Settings</h2>
   </div>
   <br><br>
   <div>
<!--   <h4>Spotlight Section </h4>-->
    <form action="/spotlight_update" method="post" id="spotlight">
     <h4 style="text-align:center">Spotlight Section</h4>
     <div class="row bkclor col-lg-6 col-lg-offset-3"> 
      <h5 class="fontcenter">Current Spotlight</h5>
      <div class="thumbnail text-center">
       <img class="img-responsive" src="img/eagles.jpg" style="width: 275px;height: 350px;" alt="">
       <div class="caption">
        <h3><%=spotlight_show[0]["actual_names"]%></h3>
        <h4><%=spotlight_show[0]["individual_or_organization name"]%></h4>
        <p><%=spotlight_show[0]["bio"]%>
        <p>*** Start Date: <%=spotlight_show[0]['start_date']%> ***</p>
       </div>
      </div>
      <h3 style="text-align:center">Spotlight Update</h3>
      <br>
      Spotlight Photo: <input type="text" name="spotlight_photo" placeholder="Enter Facebook URL">
      <br>
      Person(s) Name: <input type="text" name="actual_names" placeholder="Enter Name">
      <br>
      Organization Name: <input type="text" name="individual_or_organization_name" placeholder="Enter Name">
      <br>
      Start Date : <input type="text" name="start_date" placeholder="YYYY-MM-DD">
      <br>
      Spotlight Bio:
      <br>
      <textarea form="spotlight" name="bio" rows="4" cols="30">Enter text here...</textarea>
      <br>
      <input type="submit">
     </div>
    </form>
   </div>
  </div>
 </div>
 <hr>
     <div class="row bkclor col-lg-12"> 
  <h4 style="text-align:center">Sponsor Section</h4>
  <h5 style="text-align:center">Current Sponsors</h5>
  <%sponsor_logos.each do |logo| %>
  <p>
   Name: <%=logo['sponsor_name']%>
   <br>
   Logo Url: <%=logo['sponsor_logo']%>
   <br>
   Logo: <img src ="<%=logo["sponsor_logo"]%>" style="width:75px">
  </p>
  <%end%>
  <div style="text-align:center">
   <form action="/sponsor_update" method="post">
    <h4 style="text-align:center">Add Sponsor</h4>
    Sponsor Name: <input type="text" name="sponsor_name" placeholder="Enter Sponsor Name" >
    <br>
    Sponsor Logo: <input type="text" name="sponsor_logo" placeholder="Enter Facebook Url">
    <br>
    <input type="submit">
   </form>
  </div>
 </div>
      <div class="row" style="background-color:white">
 
   <div class="col-lg-12">
   
 
<!--   <h4>Spotlight Section </h4>-->
    <form action="/news_update" method="post" id="spotlight">
<br>
     <div class="row bkclor col-lg-12"> 
      
      <h3 style="text-align:center">News Articles Update</h3>
      <br>
      Article Link: <input type="text" name="article_link" placeholder="Enter News Article Link">
      <br>
      Article Name: <input type="text" name="article_name" placeholder="Enter an Article Name">
      <br>
      Article Date Month : <input type="text" name="article_date_month" placeholder="MM">
      Article Date Day : <input type="text" name="article_date_day" placeholder="DD">
      Article Date Year : <input type="text" name="article_date_year" placeholder="YYYY">

      <br>
      <input type="submit">
     </div>
    </form>
   </div>
  </div>
 <hr>
  <script language="javascript" type="text/javascript">
        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML = 
              "<html><head><title></title></head><body>" + 
              divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;

          
        }
    </script>

   <div class="row" style="background-color:white">
 
   <div class="col-lg-12">
   
 
    <form action="/" method="post" id="">

     <div class="row  col-lg-12" id="manifesto"> 
      <br>
          <input type="button" value="Print" onclick="javascript:printDiv('manifesto')" class="pull-right" />

      <h3 style="text-align:center">Current List of Manifesto Signers</h3>
    <br>      <div style="text-align:center">

      <%manifesto_signers.each do |signers|%>
      <b>Name:</b><%=signers["name"]%>  <b>Email:</b><%=signers["email_address"]%>  <b>Date Signed:</b><%=signers["date"]%><br>
      <%end%>
           </div>

     </div>

    </form>
   </div>
  </div>
 
 
</div>

