<h4><%=params[:fname]%> <%=params[:lname]%> is requesting admin access</h4>
<table class="emailTable">
  <tr>
    <td>First Name:</td><td><%=params[:fname]%></td>
  </tr>
  <tr>
    <td>Last Name:</td><td><%=params[:lname]%></td>
  </tr>
  <tr>
    <td>Email:</td><td><%=params[:email]%></td>
  </tr>
<tr>
    <td>To approve click the link below</td>
  </tr>
</table>

